# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment files
.env
.env.local
# resources/js/runtime-config.js

# macOS
.DS_Store

# VS Code
.vscode/

# Build output (optional)
dist/
